# Build & dependency outputs (matches anywhere in repo)
**/target/
**/build/
**/bin/
**/.gradle/
**/node_modules/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# JVM Crash & Replay Dumps
hs_err_pid*.log
replay_pid*.log

# IDE & Editor files
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.springBeans
.sts4-cache
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini
